h1{
    text-align: center;
    color: rgb(107, 20, 188);

}

body{
background-color: rgb(113, 203, 255);


}

p {
    text-align: center;
    font-family: verdana;
    font-size: 20px;
  }

ul{
   text-align: center;

}
