h1 {
    color: #0056b3;
    font-size: 24px;
    margin-bottom: 10px;
}

body {
    background-color: rgb(255, 84, 84);


}

p {
    color: #0011ff;
    margin-bottom: 15px;
}

h2 {
    color: #fffb00;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-left: 4px solid #8800ff;
    padding-left: 10px;
}
a {
    align-items: center;

}

.link-text {
    color: #3182ce;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

img {
    max-width: 100%;
    height: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}