.mi{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 150%;

}

body{
    background-color: rgb(60, 255, 0);
    color: rgb(255, 0, 0);

}

input{
    font-size: 80%;

}